.about-us__title {
  font-weight: 700;
  padding: 0 124px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 40px;
}

.about-us__h2title {
  margin-top: 20px;
}

.about-us__container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.about-us__logo {
  grid-column: 1 / 5;
}

.about-us__picture {
  width: 100%;
}

.about-us__description {
  grid-column: 6 / 10;
}

.about-us__language {
  margin-bottom: 20px;
}

.about-us__linkEng,
.about-us__linkChi {
  text-decoration: none;
  cursor: pointer;
}

.about-us__eng,
.about-us__chi {
  margin: 0;
  text-align: justify;
  display: block;
}

.about-us__chineseSongs {
  margin: 0;
  text-decoration: none;
  color: rgb(255, 127, 144);
  cursor: pointer;
  font-size: larger;
}

.hidden {
  display: none;
}

.text_toper {
  font-size: 36px;
  margin: 0 0 20px;
}

.text_middle {
  font-size: 30px;
  margin: 0 0 20px;
}

.text_bottom {
  font-size: 36px;
  margin: 0 0 20px;
}

@media (max-width: 1000px) {
  .about-us__container {
    display: flex;
    flex-direction: column;
  }

  .about-us__title {
    margin-top: 0;
    padding: 0 60px;
  }

  .about-us__h2title {
    margin-top: 10px;
  }

  .text_toper {
    font-size: 26px;
    margin: 0 0 5px;
  }
  
  .text_middle {
    font-size: 20px;
    margin: 0 0 5px;
  }
  
  .text_bottom {
    font-size: 26px;
    margin: 0 0 10px;
  }
}

@media (max-width: 480px) {
  .about-us__title {
    margin-top: 0;
    padding: 0 30px;
  }
}