.engSongList {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  column-count: 4;
  column-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .engSongList {
    column-count: 3; /* 3 columns for screens 1200px or less */
  }
}

@media screen and (max-width: 900px) {
  .engSongList {
    column-count: 2; /* 2 columns for screens 900px or less */
  }
}

@media screen and (max-width: 600px) {
  .engSongList {
    column-count: 1; /* 1 column for screens 600px or less */
  }
}

.engSongList > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.engSongList > ul > li {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  transition: background-color 0.3s;
  break-inside: avoid; 
  height: 40px;
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.engSongList > ul > li:hover {
  background-color: #bdc3c7;
}

.song-click {
  color: red;
}