.header {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 124px;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 10px;
  }
}

.header__logoLink {
  padding: 0;
  text-decoration: none;
}

.header__logo {
  width: 180px;
  height: 70px;
}

.header__landing {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
