.container{
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.nav__generator {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainPage,
.mainLink {
  display: block;
  width: 100px;
}

.containerForSet{
  padding: 5px;
  width: 31%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.containerForSet:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.container__set {
  margin: 0;
}

.generator__form {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid green;
}

.generator__messageContainer {
  margin-bottom: 15px;
}

.generator__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.generator__button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  width: 33%;
}

.generator__button:hover {
  background-color: #3498db;
  cursor: pointer;
}

.generator__form__section {
  width: 31%;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.generator__form__input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  appearance: textfield;
  -moz-appearance: textfield;
}

.generator__hostAndSong {
  display: flex;
  justify-content: space-between; 
}

.generator__extra-host {
  width: 48%;
  background-color: #fff;
  padding: 5px 0 0 5px ;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(145, 255, 1, 0.1);
  border: 1px solid black;
}

.generator__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.generator__extras__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.generatoraddSong {
  flex-direction: column;
  justify-content: space-around;
  width: 47%;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(145, 255, 1, 0.1);
  border: 1px solid black;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  list-style-type: none;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.generatorAddSong__title {
  margin: 0;
  align-self: center;
}

.container__dropdown {
  display: none;
  width: 31%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(31, 2, 1, 0.952);
  margin-top: 10px;
  border-radius: 5px;
}

#searchInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styles for the song dropdown */
#songDropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dropdown__button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  width: 100%;
}

.dropdown__button:hover {
  background-color: #3498db;
  cursor: pointer;
}

.generatorAddSong__button {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  width: 100%;
}

.generatorAddSong__button:hover {
  background-color: #3498db;
  cursor: pointer;
}

.host {
  margin-bottom: 5px;
}

@media (max-width: 1300px) {
  .containerForSet,
  .generator__form__section,
  .container__dropdown {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .containerForSet,
  .generator__form__section,
  .container__dropdown {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .containerForSet,
  .generator__form__section,
  .container__dropdown {
    width: 100%;
  }

  .generator__flex {
    flex-direction: column;
    width: 100%;
  }

  .header__logo {
    display: none;
  }

  .generator__extra-host,
  .generatoraddSong {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }

  .generator__hostAndSong {
    display: block;
  }

  .generator__buttons {
    flex-direction: column;
  }

  .generator__button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .containerForSet,
  .generator__form__section,
  .container__dropdown,
  .generator__extras {
    width: 100%;
  }

  .custom-checkbox {
    padding-left: 0;
    display: inline-block;
    width: 100%;
  }

  .generator__extra-host {
    width: 100%;
    padding: 0;
  }

  .generator__extra-host,
  .generatoraddSong {
    width: 100%;
  }

  .generator__button {
    width: 100%;
    margin-bottom: 10px;
  }
}
